@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  color: #000;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding: 103px 0 0;
  position: relative;
  z-index: 1;
}
body::before, body::after {
  content: "";
  display: block;
  width: 100%;
  height: 1400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
body::after {
  top: auto;
  bottom: 0;
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
  height: 1100px;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
}

h2, h3, h4 {
  color: #F5D42F;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.02em;
  text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, 5px 5px 0px #FF7B00;
  margin: 0 0 40px;
}

a,
button {
  text-decoration: none;
  color: #1B1B1B;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
a:active,
button:active {
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
}

.btn {
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-41.92%, #FF7B00), to(#F5D42F));
  background: -webkit-linear-gradient(bottom, #FF7B00 -41.92%, #F5D42F 100%);
  background: -moz-linear-gradient(bottom, #FF7B00 -41.92%, #F5D42F 100%);
  background: -o-linear-gradient(bottom, #FF7B00 -41.92%, #F5D42F 100%);
  background: linear-gradient(0deg, #FF7B00 -41.92%, #F5D42F 100%);
  -webkit-box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.3), 0px 6px 0px #FF7B00;
     -moz-box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.3), 0px 6px 0px #FF7B00;
          box-shadow: 0px 33px 60px rgba(0, 0, 0, 0.3), 0px 6px 0px #FF7B00;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  padding: 20px 70px;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 200%;
  position: absolute;
  z-index: -1;
  top: -40%;
  left: -100px;
  -webkit-box-shadow: 0 0 80px 20px #fff;
     -moz-box-shadow: 0 0 80px 20px #fff;
          box-shadow: 0 0 80px 20px #fff;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  opacity: 0.5;
  animation: blink 3.5s ease infinite alternate-reverse;
}
.btn.sm {
  font-size: 18px;
  line-height: 24px;
  padding: 15px 40px;
  -webkit-box-shadow: 3px 3px 0px #FF7B00;
     -moz-box-shadow: 3px 3px 0px #FF7B00;
          box-shadow: 3px 3px 0px #FF7B00;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  margin: 0;
}
.btn:hover, .btn:active {
  color: #000;
  opacity: 1;
}
.btn:active {
  opacity: 1;
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
       -o-transform: scale(0.95);
          transform: scale(0.95);
}
.btn[disabled] {
  color: rgba(0, 0, 0, 0.4);
  cursor: unset;
  background-color: #eee;
  -webkit-animation: none;
     -moz-animation: none;
       -o-animation: none;
          animation: none;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

p {
  line-height: 140%;
  font-size: 18px;
}

input,
textarea {
  display: block;
  width: 100%;
  max-width: 500px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  min-height: 70px;
  margin-bottom: 20px;
  background-color: #fff;
  font-family: "Gilroy", sans-serif;
  padding: 0 40px;
  font-size: 20px;
  color: #000;
  border: 1px solid #000;
  font-weight: 500;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #000;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #000;
}
input::placeholder,
textarea::placeholder {
  color: #000;
}

textarea {
  height: 116px;
  padding-top: 18px;
}

section {
  padding: 60px 0;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: translateX(-40px) rotateZ(45deg);
            transform: translateX(-40px) rotateZ(45deg);
  }
  80% {
    -webkit-transform: translateX(-40px) rotateZ(45deg);
            transform: translateX(-40px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(600px) rotateZ(45deg);
            transform: translateX(600px) rotateZ(45deg);
  }
}

@-moz-keyframes blink {
  0% {
    -moz-transform: translateX(-40px) rotateZ(45deg);
         transform: translateX(-40px) rotateZ(45deg);
  }
  80% {
    -moz-transform: translateX(-40px) rotateZ(45deg);
         transform: translateX(-40px) rotateZ(45deg);
  }
  100% {
    -moz-transform: translateX(600px) rotateZ(45deg);
         transform: translateX(600px) rotateZ(45deg);
  }
}

@-o-keyframes blink {
  0% {
    -o-transform: translateX(-40px) rotateZ(45deg);
       transform: translateX(-40px) rotateZ(45deg);
  }
  80% {
    -o-transform: translateX(-40px) rotateZ(45deg);
       transform: translateX(-40px) rotateZ(45deg);
  }
  100% {
    -o-transform: translateX(600px) rotateZ(45deg);
       transform: translateX(600px) rotateZ(45deg);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: translateX(-40px) rotateZ(45deg);
       -moz-transform: translateX(-40px) rotateZ(45deg);
         -o-transform: translateX(-40px) rotateZ(45deg);
            transform: translateX(-40px) rotateZ(45deg);
  }
  80% {
    -webkit-transform: translateX(-40px) rotateZ(45deg);
       -moz-transform: translateX(-40px) rotateZ(45deg);
         -o-transform: translateX(-40px) rotateZ(45deg);
            transform: translateX(-40px) rotateZ(45deg);
  }
  100% {
    -webkit-transform: translateX(600px) rotateZ(45deg);
       -moz-transform: translateX(600px) rotateZ(45deg);
         -o-transform: translateX(600px) rotateZ(45deg);
            transform: translateX(600px) rotateZ(45deg);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  h2, h3, h4 {
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  .btn {
    font-weight: 700;
    font-size: 14px;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    padding: 12px 60px 11px;
    -webkit-box-shadow: 2px 2px 0px #ff7b00;
       -moz-box-shadow: 2px 2px 0px #ff7b00;
            box-shadow: 2px 2px 0px #ff7b00;
  }
  .btn.sm {
    -webkit-box-shadow: 2px 2px 0px #ff7b00;
       -moz-box-shadow: 2px 2px 0px #ff7b00;
            box-shadow: 2px 2px 0px #ff7b00;
    padding: 11px 40px 10px;
    font-size: 14px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
  }
  body {
    padding-top: 81px;
  }
}
@media screen and (max-width: 700px) {
  h2, h3, h4 {
    font-size: 32px;
    line-height: 120%;
    text-shadow: -1px -1px 0 #000, 2px 2px 0 #000, 3px 3px 0px #FF7B00;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
  }
}
.header {
  background: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #000000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 6px 0 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.header .container,
.header .col {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 28px;
}
.header__link:hover {
  text-decoration: underline;
}
.header .btn {
  margin-left: 40px;
}
.header .logo {
  max-width: 140px;
  margin: 0;
  display: block;
}
.header .logo img {
  display: block;
}
@media screen and (max-width: 1200px) {
  .header__link {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 18px;
  }
  .header .logo {
    max-width: 120px;
  }
  .header .btn {
    margin-left: 30px;
  }
  .header .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 700px) {
  .header__link {
    display: none;
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  max-width: 500px;
  display: block;
  background: #fff;
  max-height: 100vh;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  padding: 46px 45px 70px;
  color: #000;
  text-align: center;
}
.modal-content img {
  max-width: 130px;
  margin-bottom: 25px;
}
.modal-content .heading {
  max-width: 550px;
  margin: 0 auto 5px;
  text-align: center;
  font-size: 32px;
}
.modal-content p {
  font-size: 18px;
  margin: 0 auto 30px;
}
.modal-content form {
  max-width: 390px;
  margin: 0 auto;
}
.modal-content .btn {
  display: block;
  margin: 0 auto;
  padding: 20px 20px 24px;
  border-width: 4px;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal-close {
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: 99999999;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
}
.modal.is-open {
  display: block;
}
@media screen and (max-width: 1540px) {
  .modal-content {
    -webkit-transform-origin: 0% 10%;
       -moz-transform-origin: 0% 10%;
        -ms-transform-origin: 0% 10%;
         -o-transform-origin: 0% 10%;
            transform-origin: 0% 10%;
    -webkit-transform: scale(0.8) translate(-50%, -50%);
       -moz-transform: scale(0.8) translate(-50%, -50%);
        -ms-transform: scale(0.8) translate(-50%, -50%);
         -o-transform: scale(0.8) translate(-50%, -50%);
            transform: scale(0.8) translate(-50%, -50%);
  }
}
@media screen and (max-width: 500px) {
  .modal-close {
    right: 0;
    width: 40px;
    height: 40px;
    border-width: 2px;
    font-size: 18px;
  }
  .modal-content {
    padding: 40px 20px 60px;
    -webkit-transform: scale(1) translate(-50%, -50%);
       -moz-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);
         -o-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
  .modal-content .heading {
    font-size: 30px;
    max-width: 260px;
  }
}

footer {
  z-index: 1000;
  padding: 28px 0;
  margin: 60px 0 0;
  color: #fff;
  background-color: #000;
}
footer p {
  font-size: 14px;
  font-weight: 400;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .right {
  text-align: right;
}
@media screen and (max-width: 700px) {
  footer {
    font-size: 12px;
  }
  footer .container {
    display: block;
    text-align: left;
  }
  footer p {
    font-size: 12px;
  }
  footer .right {
    padding: 20px 0 0;
    text-align: left;
  }
}

main {
  position: relative;
  z-index: 1;
  text-align: left;
  min-height: 600px;
  height: 78vh;
  max-height: 800px;
  background-image: url("../img/wheel.png");
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-background-size: 45% auto;
     -moz-background-size: 45% auto;
       -o-background-size: 45% auto;
          background-size: 45% auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
main h1 {
  font-weight: 900;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 0.01em;
  max-width: 620px;
  color: transparent;
  margin: 15% 0 38px;
  color: #FF7B00;
  text-shadow: -2px -2px 0px #000, 3px 3px 0px #000, 6px 6px 0px #FF7B00;
}
main h1 span {
  color: #F5D42F;
}

.features {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 40px 0;
}
.features ol {
  list-style: none;
  padding: 0;
  counter-reset: item;
}
.features li {
  max-width: 348px;
  padding-left: 100px;
  position: relative;
  z-index: 1;
}
.features li::before {
  content: counter(item);
  counter-increment: item;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  font-weight: 600;
  font-size: 45px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: -1;
}
.features li span {
  display: block;
}
.features li .heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 4px;
}
.features li .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
}

.games {
  max-width: 95%;
  padding: 120px 0 0;
  margin: 0 auto;
}
.games h2 {
  margin-bottom: 60px;
}
.games .wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.games .item {
  width: 425px;
  max-width: 24%;
  margin: 0 0 30px;
}
.games .item img {
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq {
  padding: 120px 0 60px;
}
.faq .col {
  width: 55%;
}
.faq .col:first-of-type {
  width: 35%;
}
.faq p {
  font-weight: 500;
}

.dropdown {
  margin: 0 0 25px;
}
.dropdown-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  padding: 33px 60px 31px 30px;
  width: 100%;
  text-align: left;
  background-color: #FDAF1A;
  border: 3px solid #000000;
  -webkit-box-shadow: 6px 6px 0px #FFDB48;
     -moz-box-shadow: 6px 6px 0px #FFDB48;
          box-shadow: 6px 6px 0px #FFDB48;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  z-index: 1;
  -webkit-transform: none !important;
     -moz-transform: none !important;
      -ms-transform: none !important;
       -o-transform: none !important;
          transform: none !important;
}
.dropdown-btn::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 50%;
  right: 30px;
  margin-top: -20px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  -o-transition: -o-transform ease 0.3s;
  -moz-transition: transform ease 0.3s, -moz-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s, -moz-transform ease 0.3s, -o-transform ease 0.3s;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}
.dropdown-btn.active::before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropdown-content {
  font-size: 16px;
  line-height: 140%;
  background-color: #FFDB48;
  position: relative;
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
  left: 6px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height ease 0.3s, opacity ease 0.3s, padding ease 0.5s;
  -o-transition: max-height ease 0.3s, opacity ease 0.3s, padding ease 0.5s;
  -moz-transition: max-height ease 0.3s, opacity ease 0.3s, padding ease 0.5s;
  transition: max-height ease 0.3s, opacity ease 0.3s, padding ease 0.5s;
  padding: 0;
  opacity: 0;
}
.dropdown-content.active {
  opacity: 1;
  padding: 20px;
  max-height: 250px;
}

.payment {
  max-width: 1700px;
  margin: 0 auto;
}
.payment .headline {
  margin-bottom: 40px;
}
.payment .wrap {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.payment .item {
  width: 260px;
  background-color: #FFDB48;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  text-align: center;
  padding: 25px 30px 20px;
  margin: 0 10px 20px;
}
.payment .item img {
  width: 80%;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center center;
  margin-bottom: 5px;
}
.payment .item p {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 1200px) {
  main {
    padding-bottom: 80px;
    background-position: center top 10px;
    -webkit-background-size: 85% auto;
       -moz-background-size: 85% auto;
         -o-background-size: 85% auto;
            background-size: 85% auto;
    max-height: unset;
    height: unset;
    min-height: unset;
    text-align: center;
  }
  main h1 {
    margin: 75% auto 30px;
  }
  .games {
    max-width: 100%;
  }
  .games .item {
    width: 48%;
    max-width: 48%;
    margin-bottom: 1%;
  }
  .games .item img {
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
    width: 100%;
  }
  .faq {
    padding-bottom: 40px;
  }
  .faq .col {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .faq .col:last-of-type {
    margin-bottom: 0;
  }
  .features {
    background: transparent;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    border: none;
    padding-bottom: 0;
  }
  .features .container {
    display: block;
  }
  .features li {
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    padding: 30px 10px 30px 140px;
    margin-bottom: 15px;
  }
  .features li::before {
    left: 40px;
  }
  .features li .heading {
    margin-bottom: 8px;
  }
  .payment .item {
    width: 220px;
    padding: 25px 10px;
  }
  .payment .item img {
    height: 50px;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 700px) {
  main {
    padding-bottom: 40px;
  }
  main h1 {
    font-size: 35px;
    line-height: 120%;
    text-shadow: -1px -1px 0 #000, 2px 2px 0 #000, 5px 5px 0px #FF7B00;
  }
  .payment .wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
  .payment .item {
    padding: 15px 5px;
    width: 49%;
    margin: 0 0 20px;
  }
  .payment .item p {
    display: none;
  }
  .payment .item img {
    max-width: 70%;
    margin: 0;
  }
  .games {
    padding-top: 60px;
  }
  .games h2 {
    margin-bottom: 40px;
  }
  .games .item img {
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
  }
  .games .item:last-of-type {
    margin-bottom: 0;
  }
  .dropdown {
    margin-bottom: 15px;
  }
  .dropdown-btn {
    padding: 20px 50px 20px 20px;
    font-size: 15px;
    line-height: 130%;
    -webkit-box-shadow: 4px 4px 0px #ffdb48;
       -moz-box-shadow: 4px 4px 0px #ffdb48;
            box-shadow: 4px 4px 0px #ffdb48;
  }
  .dropdown-btn::before {
    width: 30px;
    height: 30px;
    right: 20px;
  }
  .dropdown-content {
    font-size: 14px;
  }
  .features li {
    padding: 30px 10px 30px -webkit-calc(23% + 20px);
    padding: 30px 10px 30px -moz-calc(23% + 20px);
    padding: 30px 10px 30px calc(23% + 20px);
  }
  .features li::before {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    left: 6%;
  }
  .features li .heading {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 2px;
  }
  .features li .text {
    font-size: 14px;
  }
  .faq {
    padding: 60px 0 0;
  }
}/*# sourceMappingURL=style.css.map */