.header
    background: rgba(255, 255, 255, 0.3)
    border-bottom: 1px solid #000000
    backdrop-filter: blur(10px)
    padding: 6px 0 8px
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 99999
    .container,
    .col
        padding: 0
        display: flex
        justify-content: space-between
        align-items: center

    &__link
        font-weight: 700
        font-size: 20px
        line-height: 24px
        text-align: center
        text-transform: uppercase
        padding: 20px 28px
        &:hover
            text-decoration: underline

    .btn
        margin-left: 40px

    .logo
        max-width: 140px
        margin: 0
        display: block
        img
            display: block

    @media screen and ( max-width: 1200px )
        &__link
            font-size: 14px
            line-height: 16px
            padding: 15px 18px

        .logo 
            max-width: 120px

        .btn 
            margin-left: 30px

        .container
            padding: 0 15px

    @media screen and ( max-width: 700px )
        &__link 
            display: none
