@import 'normolize'
@import 'elements'
@import 'header'
@import 'modal'
@import 'footer'

main
    position: relative
    z-index: 1
    text-align: left
    min-height: 600px
    height: 78vh
    max-height: 800px
    background-image: url('../img/wheel.png')
    background-repeat: no-repeat
    background-position: right center
    background-size: 45% auto
    width: 100%
    max-width: 1920px
    margin: 0 auto
    h1
        font-weight: 900
        font-size: 62px
        line-height: 120%
        letter-spacing: 0.01em
        max-width: 620px
        color: transparent
        margin: 15% 0 38px
        color: #FF7B00
        text-shadow: -2px -2px 0px #000, 3px 3px 0px #000, 6px 6px 0px #FF7B00
        // text-shadow: 5px 5px 0px #FF7B00

        span
            color: #F5D42F

.features
    background: rgba(255, 255, 255, 0.1)
    border-bottom: 1px solid #000000
    border-top: 1px solid #000000
    backdrop-filter: blur(1px)
    padding: 40px 0

    ol
        list-style: none
        padding: 0
        counter-reset: item

    li
        max-width: 348px
        padding-left: 100px
        position: relative
        z-index: 1
        &::before
            content: counter(item)
            counter-increment: item
            display: inline-block
            text-align: center
            line-height: 80px
            width: 80px
            height: 80px
            font-weight: 600
            font-size: 45px
            border-radius: 50%
            border: 2px solid #000
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            z-index: -1

        span
            display: block

        .heading
            font-weight: 700
            font-size: 20px
            line-height: 24px
            margin: 0 0 4px

        .text
            font-weight: 400
            font-size: 18px
            line-height: 120%
            margin: 0

.games
    max-width: 95%
    padding: 120px 0 0
    margin: 0 auto
    h2
        margin-bottom: 60px

    .wrap
        flex-wrap: wrap
        justify-content: space-evenly

    .item
        width: 425px
        max-width: 24%
        margin: 0 0 30px
        img
            border-radius: 20px
            object-fit: cover

.faq
    padding: 120px 0 60px
    .col
        width: 55%
        &:first-of-type
            width: 35%

    p
        font-weight: 500

.dropdown
    margin: 0 0 25px
    &-btn
        font-weight: 600
        font-size: 20px
        line-height: 110%
        padding: 33px 60px 31px 30px
        width: 100%
        text-align: left
        background-color: #FDAF1A
        border: 3px solid #000000
        box-shadow: 6px 6px 0px #FFDB48
        border-radius: 10px
        position: relative
        z-index: 1
        transform: none !important
        &::before
            content: ''
            display: block
            width: 40px
            height: 40px
            position: absolute
            z-index: -1
            pointer-events: none
            top: 50%
            right: 30px
            margin-top: -20px
            background-image: url('../img/arrow.svg')
            background-repeat: no-repeat
            background-position: center
            transition: transform ease .3s
            background-size: contain
        &.active::before
            transform: rotate(180deg)

    &-content
        font-size: 16px
        line-height: 140%
        background-color: #FFDB48
        position: relative
        border-radius: 0 0 10px 10px
        left: 6px
        overflow: hidden
        max-height: 0
        transition: max-height ease .3s, opacity ease .3s, padding ease .5s
        padding: 0
        opacity: 0
        &.active
            opacity: 1
            padding: 20px
            max-height: 250px

.payment
    max-width: 1700px
    margin: 0 auto
    .headline
        margin-bottom: 40px

    .wrap
        align-items: stretch
        flex-wrap: wrap
        justify-content: center

    .item
        width: 260px
        background-color: #FFDB48
        border: 1px solid rgba(0, 0, 0, 0.5)
        border-radius: 10px
        text-align: center
        padding: 25px 30px 20px
        margin: 0 10px 20px
        img
            width: 80%
            height: 55px
            object-fit: contain
            background-position: center center
            margin-bottom: 5px

        p
            margin: 0
            font-weight: 500
            font-size: 20px
            line-height: 24px

@media screen and ( max-width: 1200px )

    main
        padding-bottom: 80px
        background-position: center top 10px
        background-size: 85% auto
        max-height: unset
        height: unset
        text-align: center
        h1
            margin: 75% auto 30px

    .games
        max-width: 100%
        .item
            width: 48%
            max-width: 48%
            margin-bottom: 1%
            img
                border-radius: 12px
                width: 100%

    .faq
        .col
            width: 100% !important
            margin-bottom: 40px

    .features
        background: transparent
        backdrop-filter: unset
        border: none
        padding-bottom: 0
        .container
            display: block

        li
            max-width: 100%
            background: rgba(255, 255, 255, 0.1)
            border-bottom: 1px solid #000000
            border-top: 1px solid #000000
            backdrop-filter: blur(1px)
            padding: 30px 10px 30px 140px
            margin-bottom: 15px
            &::before
                left: 40px

            .heading
                margin-bottom: 8px

    .payment
        .item
            width: 220px
            padding: 25px 10px
            img
                height: 50px
                margin-bottom: 8px

@media screen and ( max-width: 700px )
    main
        h1
            font-size: 35px
            line-height: 120%
            text-shadow: -1px -1px 0 #000, 2px 2px 0 #000, 5px 5px 0px #FF7B00

    .payment
        .wrap
            justify-content: space-between
            padding: 0 10px
        .item
            padding: 15px 5px
            width: 49%
            margin: 0 0 20px
            p
                display: none

            img
                max-width: 70%
                margin: 0

    .games 
        padding-top: 100px