@import 'normolize'
@import 'elements'
@import 'header'
@import 'modal'
@import 'footer'

main
    position: relative
    z-index: 1
    text-align: left
    min-height: 600px
    height: 78vh
    max-height: 800px
    background-image: url('../img/main-mob.png')
    background-repeat: no-repeat
    background-position: right center
    background-size: auto 95%
    width: 100%
    max-width: 1700px
    margin: 0 auto
    h1
        font-weight: 900
        font-size: 72px
        line-height: 120%
        letter-spacing: 0.01em
        max-width: 720px
        color: transparent
        margin: 12vh 0 38px
        color: #FF7B00
        text-shadow: -2px -2px 0px #000, 3px 3px 0px #000, 6px 6px 0px #FF7B00
        // text-shadow: 5px 5px 0px #FF7B00

        span
            color: #F5D42F

    @media screen and ( min-width: 700px )
        background-image: url('../img/main-img.png')

    .container
        max-width: 1440px

.features
    background: rgba(255, 255, 255, 0.1)
    border-bottom: 1px solid #000000
    border-top: 1px solid #000000
    backdrop-filter: blur(1px)
    margin: 40px 0 0
    padding: 40px 0

    ol
        list-style: none
        padding: 0
        counter-reset: item

    li
        max-width: 375px
        padding-left: 100px
        position: relative
        z-index: 1
        &::before
            content: counter(item)
            counter-increment: item
            display: inline-block
            text-align: center
            line-height: 80px
            width: 80px
            height: 80px
            font-weight: 600
            font-size: 45px
            border-radius: 50%
            border: 2px solid #000
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0
            z-index: -1

        span
            display: block

        .heading
            font-weight: 700
            font-size: 20px
            line-height: 24px
            margin: 0 0 4px

        .text
            font-weight: 400
            font-size: 18px
            line-height: 120%
            margin: 0

.games
    width: 95%
    max-width: 1920px
    padding: 120px 0 0
    margin: 0 auto
    h2
        margin-bottom: 60px

    .wrap
        flex-wrap: wrap
        justify-content: space-evenly

    .item
        width: 425px
        max-width: 24%
        margin: 0 0 30px
        border-radius: 20px
        overflow: hidden
        img
            display: block
            object-fit: cover
            transition: transform ease-in-out .3s
        @media screen and ( min-width: 1080px )
            &:hover
                img
                    transform: scale(1.1) rotate(-1deg)

.faq
    padding: 120px 0 60px
    .col
        width: 55%
        &:first-of-type
            width: 35%

    p
        font-weight: 500

.dropdown
    margin: 0 0 25px
    &-btn
        font-weight: 600
        font-size: 20px
        line-height: 110%
        padding: 33px 60px 31px 30px
        width: 100%
        text-align: left
        background-color: #FDAF1A
        border: 3px solid #000000
        box-shadow: 6px 6px 0px #FFDB48
        border-radius: 10px
        position: relative
        z-index: 1
        transform: none !important
        &::before
            content: ''
            display: block
            width: 40px
            height: 40px
            position: absolute
            z-index: -1
            pointer-events: none
            top: 50%
            right: 30px
            margin-top: -20px
            background-image: url('../img/arrow.svg')
            background-repeat: no-repeat
            background-position: center
            transition: transform ease .3s
            background-size: contain
        &.active::before
            transform: rotate(180deg)
    a
        text-decoration: underline
        color: #60a120
        font-weight: bold

    p, ol
        font-size: 16px
        line-height: 150%

    &-content
        background-color: #FFDB48
        position: relative
        border-radius: 0 0 10px 10px
        left: 6px
        overflow: hidden
        max-height: 0
        transition: max-height ease .3s, opacity ease .3s, padding ease .5s
        padding: 0
        opacity: 0
        &.active
            opacity: 1
            padding: 20px
            max-height: 750px

.payment
    max-width: 1700px
    margin: 0 auto
    .headline
        margin-bottom: 40px

    .wrap
        align-items: stretch
        flex-wrap: wrap
        justify-content: center

    .item
        width: 260px
        background-color: #FFDB48
        border: 1px solid rgba(0, 0, 0, 0.5)
        border-radius: 10px
        text-align: center
        padding: 25px 30px 10px
        margin: 0 10px 20px
        img
            width: 80%
            height: 55px
            object-fit: contain
            background-position: center center
            margin-bottom: 5px

        p
            border-top: 1px solid rgba(0, 0, 0, .1)
            margin: 7px 0 0
            padding: 7px 0 2px
            font-weight: 500
            font-size: 20px
            line-height: 24px

@media screen and ( max-width: 1600px )
    main
        .content
            padding-left: 3%
        h1
            margin: 6% auto 30px 0
            font-size: 68px

@media screen and ( max-width: 1200px )
    main
        padding-bottom: 80px
        background-position: center top 10px
        background-size: 90% auto
        background-position: top 9% center
        max-height: unset
        height: unset
        min-height: unset
        text-align: center
        h1
            margin: 75% auto 20px

        .content 
            padding-left: 0

    .games
        max-width: 100%
        .item
            width: 48%
            max-width: 48%
            margin-bottom: 1%
            border-radius: 12px
            img
                width: 100%

    .faq
        padding-bottom: 40px
        .col
            width: 100% !important
            margin-bottom: 40px
            &:last-of-type
                margin-bottom: 0

    .features
        background: transparent
        backdrop-filter: unset
        border: none
        padding-bottom: 0
        margin: 0
        .container
            display: block

        li
            max-width: 100%
            background: rgba(255, 255, 255, 0.1)
            border-bottom: 1px solid #000000
            border-top: 1px solid #000000
            backdrop-filter: blur(1px)
            padding: 30px 10px 30px 140px
            margin-bottom: 15px
            &::before
                left: 40px

            .heading
                margin-bottom: 8px

    .payment
        .item
            width: 220px
            padding: 25px 10px
            img
                height: 50px
                margin-bottom: 8px

@media screen and ( max-width: 700px )
    main
        padding-bottom: 40px
        h1
            font-size: 35px
            line-height: 120%
            text-shadow: -1px -1px 0 #000, 2px 2px 0 #000, 5px 5px 0px #FF7B00

    .payment
        .wrap
            justify-content: space-between
            padding: 0 10px

        .item
            padding: 15px 5px 5px
            width: 49%
            margin: 0 0 20px
            p
                margin: 5px 0 0
                font-size: 14px
                padding: 4px 0 0

            img
                max-width: 70%
                margin: 0

    .games
        padding-top: 60px
        h2
            margin-bottom: 40px

        .item
            border-radius: 8px
            &:last-of-type
                margin-bottom: 0

    .dropdown
        margin-bottom: 15px
        &-btn
            padding: 20px 52px 20px 20px
            font-size: 15px
            line-height: 130%
            box-shadow: 4px 4px 0px #ffdb48
            &::before
                width: 30px
                height: 30px
                right: 13px

        &-content
            font-size: 14px

    .features
        li
            padding: 30px 10px 30px calc( 23% + 20px )
            &::before
                width: 60px
                height: 60px
                line-height: 60px
                font-size: 30px
                left: 6%

            .heading
                font-size: 16px
                line-height: 120%
                margin-bottom: 2px

            .text
                font-size: 14px

    .faq
        padding: 60px 0 0
